# https://github.com/bkeepers/dotenv is used for
# default configuration options.  The values in
# this file do not replace existing values in
# the shell ENV.

# Uncomment and set values as required.  See used settings in
# lib/marc2linkeddata/configuration.rb

export DEBUG=false

# limit the depth of IIIF navigation; useful for development
# or testing a new data source.
export ANNO_LIMIT_MANIFESTS=0   # 0 is all of them
export ANNO_LIMIT_ANNOLISTS=0   # 0 is all of them
export ANNO_LIMIT_OPENANNOS=0   # 0 is all of them

export ANNO_LOG_FILE='log/annotations2triannon.log'

# RestClient/Rack-Cache configs, see
# http://rtomayko.github.io/rack-cache/configuration
# http://rtomayko.github.io/rack-cache/storage
export RACK_CACHE_ENABLED=true
export RACK_CACHE_VERBOSE=false
export RACK_CACHE_METASTORE='memcached://localhost:11211/anno_meta'
#export RACK_CACHE_METASTORE='file:/tmp/cache/anno_meta'
export RACK_CACHE_ENTITYSTORE='file:/tmp/cache/anno_body'

# Configure the triannon service
export TRIANNON_LOG_FILE='log/triannon_client.log'
export TRIANNON_HOST='triannon.example.org'
export TRIANNON_USER=''
export TRIANNON_PASS=''
export TRIANNON_CONTAINER='/annotations/'

# Configure the revs database for annotations and users
export REVS_ENABLED=false
export REVS_SRC_USER='libuser'
export REVS_SRC_HOST='revs.example.org'
export REVS_DB_HOST='localhost'
export REVS_DB_PORT='3306'
export REVS_DB_USER='revs'
export REVS_DB_PASSWORD=''
export REVS_DB_DATABASE='revs'

# Redis Persistence - based on https://github.com/redis/redis-rb
# export REDIS_ENABLED=true # enable redis persistence (default = false)
export REDIS_ENABLED=false
# Set the REDIS_URL for a custom redis configuration.
# export REDIS_URL="redis://{user}:{password}@{host}:{port}/{db}"
# Leave commented to use default: 'redis://127.0.0.1:6379/0'
#export REDIS_URL=localhost
