# https://github.com/bkeepers/dotenv is used for
# default configuration options.  The values in
# this file do not replace existing values in
# the shell ENV.

# Uncomment and set values as required.  See used settings in
# lib/marc2linkeddata/configuration.rb

DEBUG: false

export REVS_DB_HOST='localhost'
export REVS_DB_PORT='3306'
export REVS_DB_USER='revs'
export REVS_DB_PASSWORD=''
export REVS_DB_DATABASE='revs'

# Configure the triannon service
export TRIANNON_HOST='triannon.example.org'
export TRIANNON_USER=''
export TRIANNON_PASS=''

